.top-bar h1 {
font-size: 30px;
font-weight: 600;
}

.mainHead h2 {
    font-size: 70px;
    text-align: center;
}



#searchBar, #searchBtn {
    display: inline-flex;
    align-items: center;
    justify-items: center;
}

img {
    object-fit: cover;
}

li a.navmap1 {
    color: white;
}

li a.navmap1:hover {
    color: #3b82f6;
}

li a.navmap2 {
    margin-right: 20px;
}

li a.navmap2:hover {
    text-decoration: underline;
}