.top-bar h1 {
font-size: 30px;
font-weight: 600;
}

.mainHead h2 {
    font-size: 70px;
    text-align: center;
}



#searchBar, #searchBtn {
    display: inline-flex;
    align-items: center;
    justify-items: center;
}

.map-cont {
    display: none;
}

.map-cont.activeMap {
    display: block;
}

img {
    object-fit: cover;
}

li a.navmap1, 
li a.navmap2 {
    display: none;
}

li a.navmap1.activeView  {
    display: block;
    color: white;
    padding: 15px, 0px;
}

li a.navmap2.activeView {
    display: block;
    margin-right: 17px;
    /* sm:mr-0 
    hover:underline 
    md:mr-6 */
}